<html>

    <head>
        <style>
            .wrapper{
                width:100%;
                height:100%;
                display:flex;
                justify-content:center;
                align-items:center;
            } 
            .container{
                text-align:center;
            }
            .btn_boxes{
                display:flex;
                justify-content:space-between;
            }
            .btn{
                width:100px;
                margin:15px;
            }
        </style>

    </head>

    <body>
        
    <div class="wrapper">
        <div class="container">
            <h1>점심 뭐 먹지 ?</h1>
            <div class="btn_boxes">
                <button type="button" class="btn btn-primary btn-lg">회원가입</button>
                <button type="button" class="btn btn-primary btn-lg">로그인</button>
            </div>
        </div>
    </div>
    </body>
</html>