<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>오늘은 점심 뭐 먹지?7</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom CSS Files -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/init_page.css' %}" type="text/css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;500;900&display=swap"
          rel="stylesheet">

</head>
<body>
{% include 'users/message.html' %}
<div class="background-container">
    <div class="init-container">
        <div class="init-wrapper">
            <p>&#x1F61C; 즐거운 점심시간!<br>&#x1F371; 오늘도 맛있는 점심을 먹어보자!<br>&#x1F35A; 어제는 백반을 먹었는데...<br>&#x1F60B; 오늘은, 그래서...?
            </p>
            <h1 class="title-center">점심 뭐 먹지?</h1>
            <div class="btn-box">
                <div class="login-box">
                    <button type="button" class="btn btn-default btn-lg btn-login" data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="어서오세요!" onclick="window.location.href='user/login/'"
                            style="background-color: rgba(255, 255, 255, 0.3); color: whitesmoke">
                        로그인
                    </button>
                </div>
                <div class="join">
                    <div class="join-text-box">
                    <span class="join-text">
                        아직 회원이 아니신가요?
                    </span>
                    </div>
                    <div class="join-box">
                        <button type="button" class="btn btn-default btn-sm btn-join" data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="가입해서 점심 찾자!" onclick="window.location.href='user/join/'" style="font-weight: 600;">
                            회원가입
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>