<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | 점심 뭐 먹지?</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>


    <style>
        .wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            text-align: center;
        }

        .btn_boxes {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn {
            width: 100px;
            margin: 15px;
        }
    </style>


<body>

<div class="wrapper">
    <div class="container">
        <h1>점심 뭐 먹지 ?</h1>
        <div class="btn_boxes">
            <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/join'">회원가입</button>
            <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/login'">로그인</button>
        </div>
    </div>
</div>
</body>
</html>