{% extends 'base.html' %}
{% block title %}추천! | {% endblock %}
{% block content %}
    <body>
    {% include 'nav/nav.html' %}

    <div class="main-container">
        <aside>
            <div class="aside-container">
                <div class="aside-wrapper">
                    <div class="user-main-box">
                        <div class="user-main">
                            <span class="user-info-title">{{ user.fullname }} 님</span>
                            <hr/>
                            <p class="user-address">주소</p>
                            <p class="user-address-text">{{ user.address }}</p>
                        </div>
                    </div>
                    <div class="user-lunch-box">
                        <div class="user-lunch">
                            <p class="user-card-title">😊 오늘의 추천</p>
                            <span class="user-card-text">어제 가장 높은 평점을 받은</span><br />
                            <span class="user-card-text">가게에요!</span>
                            <div class="card user-card">
                                {% if today_reco_result == 'success' %}
                                    <img src="/{{ today_res.restaurant_image }}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ today_res.restaurant_name }}</h5>
                                        <p class="card-text">{{ today_res.restaurant_category }}</p>
                                        <a href="https://map.naver.com/v5/search/{{ today_res.restaurant_name }}"
                                           class="btn btn-default" target='_blank'
                                           style="display: block; width: 90px; background-color: #EF5350; color: whitesmoke">상세보기</a>
                                    </div>
                                {% else %}
                                    <div class="card-body"> {{ today_res }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <section>
            <div class="section-container">
                <div class="section-wrapper">
                    <div class="card-section-box">
                        {% if reco_result == 'success' %}
                            <div class="card-section-title text1">
                                &#x1F44D; 사용자님과 가장 유사한 <a type="button" title="" data-bs-html="true" data-container="body"
                                                data-toggle="popover" data-bs-placement="top"
                                                data-bs-content="{{ similar_top5 }}">
                                {{ similar.fullname }}
                            </a>님의 추천 음식점입니다!
                            </div>
                            <div class="card-box">
                                {% for re in recos %}
                                    <div class="card">
                                        <img src="/{{ re.restaurant_image }}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ re.restaurant_name }}</h5>
                                            <p class="card-text">{{ re.restaurant_category }}</p>
                                            <a href="https://map.naver.com/v5/search/{{ re.restaurant_name }}"
                                               class="btn"
                                               style="display: block; width: 90px; background-color: #EF5350; color: whitesmoke"
                                               target='_blank'>상세보기</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="card-section-title text1">
                                {{ recos }}
                                <br>
                                <a href="{% url 'scoring_view' %}" class="btn"
                                   style="background-color: #EF5350; color: whitesmoke">평점 주러 가기!</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-section-box">
                        <div class="card-title-box">
                            <div class="card-section-title text2">
                                &#x1F590; 점심 뭐 먹지? TOP 5
                            </div>
                            <div class="menu-box">
                                <div class="menu-all-box">
                                    <button type="button" class="menu-btn" onClick="select_top5(0)">모두</button>
                                </div>
                                <div class="menu-korea-box">
                                    <button type="button" class="menu-btn" onClick="select_top5(1)">한식</button>
                                </div>
                                <div class="menu-western-box">
                                    <button type="button" class="menu-btn" onClick="select_top5(4)">양식</button>
                                </div>
                                <div class="menu-japan-box">
                                    <button type="button" class="menu-btn" onClick="select_top5(3)">일식</button>
                                </div>
                                <div class="menu-china-box">
                                    <button type="button" class="menu-btn" onClick="select_top5(2)">중식</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-box">
                            {% for t in top5 %}
                                <div class="card">
                                    <img src="/{{ t.restaurant_image }}" class="card-img-top" alt="..."
                                         id="image{{ forloop.counter0 }}">
                                    <div class="card-body">
                                        <h5 class="card-title"
                                            id="name{{ forloop.counter0 }}">{{ t.restaurant_name }}</h5>
                                        <p class="card-text"
                                           id="category{{ forloop.counter0 }}">{{ t.restaurant_category }}</p>
                                        <a href="https://map.naver.com/v5/search/{{ t.restaurant_name }}" class="btn"
                                           style="display: block; width: 90px; background-color: #EF5350; color: whitesmoke"
                                           id="search{{ forloop.counter0 }}" target='_blank'>상세보기</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </body>
    <script>
        let category_btn = document.getElementsByClassName("menu-btn");

        function handleClick(event) {
            console.log(event.target);
            console.log(event.target.classList);

            if (event.target.classList[1] === "clicked") {
                {#event.target.classList.remove("clicked");#}
            } else {
                for (let i = 0; i < category_btn.length; i++) {
                    category_btn[i].classList.remove("clicked");
                }

                event.target.classList.add("clicked");
            }
        }

        function init() {
            for (let i = 0; i < category_btn.length; i++) {
                category_btn[i].addEventListener("click", handleClick);
            }
        }

        init();
    </script>
    <script>
        function select_top5(category) {
            var csrftoken = document.querySelector("meta[name=csrf_token]").content
            $.ajax({
                type: "POST",
                data: {'category': category},
                url: {% url 'main' %},
                headers: {"X-CSRFToken": csrftoken},
                success: function (response) {
                    let data = JSON.parse(response['data'])
                    for (i = 0; i < data.length; i++) {
                        document.getElementById("name" + i).innerText = data[i]['name'];
                        document.getElementById("category" + i).innerText = data[i]['category'];
                        document.getElementById("image" + i).src = "/" + data[i]['image'];
                    }
                }

            })
        }
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({container: "body"});
        });
    </script>
{% endblock %}