<!DOCTYPE html>
<html lang="en">
      <head>
      <meta charset="UTF-8">
      <title>점심 뭐 먹지?</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      </head>

      <body>
            {{ user_email }} 로그인 성공~~~!!! 메인 페이지 <a href="{% url 'logout' %}">로그아웃</a>
            OK~~~~

      {% for re in reco %}
          <p>{{ re.id }}</p>
          <p>{{ re.restaurant_name }}</p>
          <p>{{ re.restaurant_address }}</p>
          <p>{{ re.restaurant_image }}</p>
          <p>{{ re.restaurant_category }}</p>
      {% endfor %}
      </body>
</html>