{% extends 'base.html' %}
{% block title %}내 취향은? | {% endblock %}
{% block content %}
    <body>

    {% include 'users/message.html' %}

    <div class="main_container">
        <div class="title_wrapper">
            <p class="title_center">&#x1F929; 방문했던 곳이 있다면 별점을 남겨주세요.</p>
            <button class="btn btn-default btn-lg btn-more" onclick="window.location.reload()"
                    style="background-color: rgba(255, 255, 255, 0.6)">음식점 더 보기
            </button>
        </div>
        <div class="main_wrapper">
            <div class="card_contents">
                {% for res in random_restaurants %}
                    <div class="card_box">
                        <!-- / 앞에 = ../../ 와 같음-->
                        <div><img src="/{{ res.restaurant_image }}" alt="" class="card_img_item"></div>
                        <div class="card_items">
                            <div class="card_title_item">
                                <div class="card_item_left">{{ res.restaurant_name }}</div>
                                <div class="card_item_right">{{ res.restaurant_category }}</div>
                                <div class="card_content_item">{{ res.restaurant_address }}</div>
                            </div>
                        </div>
                        <div class="card_link_item"><a href="https://map.naver.com/v5/search/{{ res.restaurant_name }}"
                                                       target="_blank" class="item_more">자세히 보기</a></div>
                        <div class="card_star_item space-x-4 mx-auto">
                            <input type="radio" id="5-stars_{{ res.id }}" name="rating_{{ res.id }}" value="5"
                                   v-model="ratings" onclick='getRating({{ res.id }})'/>
                            <label for="5-stars_{{ res.id }}" class="star_{{ res.id }} pr-4">★</label>
                            <input type="radio" id="4-stars_{{ res.id }}" name="rating_{{ res.id }}" value="4"
                                   v-model="ratings" onclick='getRating({{ res.id }})'/>
                            <label for="4-stars_{{ res.id }}" class="star_{{ res.id }}">★</label>
                            <input type="radio" id="3-stars_{{ res.id }}" name="rating_{{ res.id }}" value="3"
                                   v-model="ratings" onclick='getRating({{ res.id }})'/>
                            <label for="3-stars_{{ res.id }}" class="star_{{ res.id }}">★</label>
                            <input type="radio" id="2-stars_{{ res.id }}" name="rating_{{ res.id }}" value="2"
                                   v-model="ratings" onclick='getRating({{ res.id }})'/>
                            <label for="2-stars_{{ res.id }}" class="star_{{ res.id }}">★</label>
                            <input type="radio" id="1-stars_{{ res.id }}" name="rating_{{ res.id }}" value="1"
                                   v-model="ratings" onclick='getRating({{ res.id }})'/>
                            <label for="1-stars_{{ res.id }}" class="star_{{ res.id }}">★</label>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="button_wrapper">
            <button class="btn btn-default btn-lg btn-more" onclick="scoring_completed()"
                    style="background-color: rgba(255, 255, 255, 0.6)">별점남기기 &#x1F44C;
            </button>
        </div>
        <div class="a_wrapper">
            <div class="btn-later-box">
                <a href={% url 'main' %}>점심 추천받으러 가기</a>
            </div>
        </div>
    </div> <!-- main_container -->
    </body>
    <script>
        var score = {};
        $(document).ready(function () { // onload 보다 우선 실행됨.
            var random_ids = {{random_ids}}; // 가져온 DB의 id들 모두 초기화
            for (var i = 0; i < random_ids.length; i++) {
                score[random_ids[i]] = 0; // Dictionary에 값 초기화 해서 넣기
            }
        })

        function getRating(res_id) {
            const rating = document.getElementsByName('rating_' + res_id);
            //console.log(rating, 'rating_' + res_id);
            rating.forEach((star) => {
                if (star.checked) {
                    console.log(star.value);
                    score[res_id] = parseInt(star.value);
                }
            });
            //console.log('==score==', score);
        }

        function scoring_completed() {
            var csrftoken = document.querySelector("meta[name=csrf_token]").content
            $.ajax({ // 비동기 방식
                type: "POST",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                url: "/user/put_score/",
                data: JSON.stringify({'score': score}),
                headers: {"X-CSRFToken": csrftoken},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }
    </script>
{% endblock %}