* {
    font-family: 'IBM Plex Sans KR', sans-serif;
    box-sizing: border-box;
}

/*background: linear-gradient(137deg, #fff6b7, #f77c99, #6578f2, #c2ffd8);*/
/*background-size: 800% 800%;*/

/*-webkit-animation: AnimationName 16s ease infinite;*/
/*-moz-animation: AnimationName 16s ease infinite;*/
/*-o-animation: AnimationName 16s ease infinite;*/
/*animation: AnimationName 16s ease infinite;*/

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body {
  color: #fff;
  background: linear-gradient(-45deg, yellow, yellowgreen, coral, lightcoral);
  background-size: 400% 400%;
  animation: AnimationName 15s ease infinite;
  width: 100%;
  height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  top: 35%;
  text-align: center;

    margin: 0;
    padding: 0;
}

.background-container {
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
}

.init-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11%;
}

.init-wrapper {
    width: 40%;
    height: 60%;
    vertical-align: middle;
}

.init-wrapper > p {
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.title-center {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 7%;
    font-size: 50px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.btn-box {
    margin-top: 7%;
}

.login-box {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.btn-login:hover {
    font-weight: 600;
}

.join {
    margin-top: 8%;
}


.join-text-box {
    display: flex;
    justify-content: center;
    font-size: .9rem;
}

.join-box {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}


.btn-join:hover {
    background-color: rgba(255, 255, 255, 0.6);
}