* {
    font-family: 'IBM Plex Sans KR', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background: linear-gradient(135deg, orange, yellow);
}

.background-container {
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
    /*background-color: darkseagreen;*/
}

.init-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: ghostwhite;*/
}

.init-wrapper {
    width: 40%;
    height: 60%;
    vertical-align: middle;
    /*background-color: #fff58c;*/
}

.init-wrapper > p {
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    /*transition: all ease 3s 0s;*/
}

.title-center {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 7%;
    font-size: 50px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    /*background-color: darkseagreen;*/
}

.btn-box {
    margin-top: 7%;
    /*background-color: slategray;*/
}

.login-box {
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    margin-top: 2%;
    /*background-color: coral;*/
}

.btn-login:hover {
    font-weight: 600;
}

.join {
    margin-top: 8%;
    /*background-color: darkseagreen;*/
}

.join-box {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.join-text-box {
    font-size: .9rem;
    text-align: center;
    /*background-color: #fff58c;*/
}

.btn-join:hover {
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.6);
}