* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.join_container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, orange, yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.join_wrapper {
    background-color: white;
    border-radius: 20px;
    border: 8px solid black;
    width: 45%;
    height: 90%;
    margin: 0 auto;
}

.login_container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, orange, yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_wrapper {
    background-color: white;
    border-radius: 20px;
    border: 8px solid black;
    width: 40%;
    height: 60%;
    margin: 0 auto;
}

.title_center {
    width: 100%;
    height: 15%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
}

.login_wrapper > .title_center {
    width: 100%;
    height: 25%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
}

.form-area {
    width: 100%;
    height: 65%;
}

.form-group > .btn {
    width: 50px;
    margin: 0 5px;
}

.form-group {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.btn_boxes {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_wrapper > .form-area > .btn_boxes {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_boxes > .btn {
    width: 170px;
    height: 50px;
    margin: 20px;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}