* {
    font-family: 'IBM Plex Sans KR', sans-serif;
    box-sizing: border-box;
}

body {
    /*display: flex;*/
    /*align-items: center;*/
    margin: 0;
    padding: 0;
    background-size: 800% 800%;
    background: linear-gradient(135deg, orange, yellow);

}

.join_container {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: darkseagreen;*/
}

.join_wrapper {
    width: 45%;
    height: 90%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
}

.login_container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, orange, yellow);
    align-items: center;
    justify-content: center;
}

.login_wrapper {
    background-color: white;
    border-radius: 20px;
    border: 8px solid black;
    width: 40%;
    height: 60%;
    margin: 0 auto;
}

.join-title-box {
    display: flex;
    justify-content: center;
    background-color: #fff58c;
}

.join-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 1%;
    background-color: ghostwhite;
}

.login_wrapper > .title_center {
    width: 100%;
    height: 25%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
}

.form-box {
    margin: 4%;
    background-color: slategray;
}

.form-group {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff58c;
}

.form-group > .btn {
    width: 50px;
    margin: 0 5px;
}

.btn-boxes {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
}

.login_wrapper > .form-area > .btn_boxes {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_boxes > .btn {
    width: 170px;
    height: 50px;
    margin: 20px;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}