.title_center {
    text-align: center;
    margin-top: 50px;
    font-size:50px;
}

.wrapper {
    width: 400px;
    margin: 0 auto;
}

.form-area {
    margin-top: 25px;
}

.btn_boxes{
    display:flex;
    justify-content: space-around;
}

.btn{
    width:120px;
    margin:20px;
}