* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans KR', sans-serif;
    /*font-size: 16px;*/
}

body {
    background-image: linear-gradient(to bottom right, coral, #e52e71);
}

/* nav */
nav {
    /*background-color: lightslategrey;*/
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2% 0 2%;
}

.logo-box, .hello-box, .logout-box {
    display: inline-block;
    padding: 1%;
}

.logo-box {
    /*background-color: steelblue;*/
}

.logo {
    color: whitesmoke;
    font-weight: 600;

}

.hello-box {
    display: flex;
    align-items: center;
    width: 60%;
    /*background-color: lavender;*/
}

.hello {
    text-align: right;
    color: whitesmoke;
}

.logout-box {
    display: flex;
    align-items: center;
    height: 70%;
    border-radius: 50px;
    background-color: whitesmoke;
}

.logout {
    color: coral;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}


/* aside */
.main-container {
    display: flex;
}

aside, section {
    display: inline-block;
}

aside {
    /*background-color: slategray;*/
    margin-top: 2%;
}

.aside-container {
    /*background-color: lightsteelblue;*/
    width: 80%;
    padding: 2%;
    margin: auto;
}

.aside-wrapper {
    display: block;
}

.user-main-box {
    /*background-color: steelblue;*/
    margin: 20% 0 30% 0;
}

.user-info-title {
    display: inline-block;
    margin-bottom: 5%;
    font-size: 1.2rem;
    font-weight: 600;
    /*background-color: lavender;*/
}

.user-lunch-box {
    height: 50%;
    border-radius: 3%;
    background-color: rgba(255, 255, 255, 0.5)
}

.user-lunch {
    padding: 6%;
    /*background-color: steelblue;*/
}


/* section */
section {
    display: flex;
    margin: 5% 0 0 5%;
    /*background-color: lightsteelblue;*/
}

.section-container {
    width: 90%;
    margin: auto;
}

.section-wrapper {
    /*background-color: darkseagreen;*/
}

.card-section-box {
    /*background-color: lavender;*/
    margin-top: 2%;
}

.card-section-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: whitesmoke;
    margin-left: 4%;
    /*background-color: greenyellow;*/
}

.card-box {
    display: flex;
    position: relative;
    margin: 4%;
}


.card {
    display: block;
    width: 14rem;
    margin-right: 4%;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
}

.card-text {
    font-size: 0.8rem;
}