* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, orange, yellow) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.main-container {
    display: flex;
}

/* aside */
aside, section {
    display: inline-block;
}

aside {
    margin: 0 4%;
}

.aside-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2%;
    margin: auto;
}

.aside-wrapper {
    display: block;
    width: 100%;
}

.user-main-box {
    margin: 20% 0 30% 0;
}

.user-main {
    width: 90%;
}

.user-info-title {
    display: inline-block;
    margin-bottom: 5%;
    font-size: 1.4rem;
    font-weight: 600;
}

.user-address {
    font-size: 1.2rem;
    font-weight: 600;
}

.user-address-text {
}

hr {
    border: 0;
    height: 2px;
    color: black;
}

.user-lunch-box {
    display: flex;
    align-items: center;
    width: 260px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5)
}

.user-lunch {
    padding: 6%;
}

.user-card-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.user-card-text {
    font-size: 1.2rem;
}

.user-card {
    margin-top: 8%;
}

/* section */
section {
    display: flex;
    margin: 3% 0 0 5%;
}

.section-container {
    width: 100%;
    margin: auto;
}

.section-wrapper {
}

.card-section-box {
    width: 95%;
    margin-top: 2%;
}

.card-title-box {
    display: flex;
    justify-content: space-between;
    width: 91%;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    display: inline-block;
    padding: 2% 3% 2% 3%;
    min-width: 30px;
    color: orangered;
    font-size: .6rem;
    font-weight: 500;
    margin-top: 7%;
    border-radius: 7px;
    border: 1px solid orangered;
}

.card-section-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: whitesmoke;
    margin-left: 4%;
}

.menu-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.menu-btn {
    display: inline-block;
    text-align: center;
    width: 120%;
    height: 80%;
    border: 0;
    border-radius: 3px;
    outline: 0;
    font-size: .9rem;
    font-weight: 500;
    color: orangered;
    background-color: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.clicked {
    color: whitesmoke;
    background-color: orangered;
}

.card-box {
    display: flex;
    position: relative;
    margin: 4%;
}

.card {
    display: block;
    width: 14rem;
    margin-right: 4%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
}

.card-text {
    font-size: 0.8rem;
}


