* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, orange, yellow) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.main-container-mypage {
    display: flex;
}

/* aside -> main.css */

/* section */
.main-container-mypage section {
    width: 70%;
    height: 600px;
    margin: 3% 0 0 5%;
}

.section-container-mypage {
    width: 100%;
    height: 100%;
}

.section-wrapper-mypage {
    width: 90%;
    height: 100%;
}

/* calendar */

table {
    width: 100%;
    height: 120%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

thead {
    height: 10%;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;
}

thead p {
    margin: 1%;
}

#custom_set_date {
    /*background-color: #ff9900;*/
}

thead button {
    width: 25px;
    border: 0;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: slategray;
}

.section-container-mypage td {
    border-top: 1px solid #444444;
    padding: 5px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}

.diary_item {
    width: 90%;
    height: 80%;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    color: darkorange;
    padding: 3%;
    margin: 0 auto;
    display: block;
    transition: .5s;
    background-color: rgba(255, 255, 255, 0.6);
}

.update_diary_item {
    width: 95%;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.9);
    font-size: 1rem;
    color: white;
    margin: 0 auto;
    display: none;
}

.create_diary_item {
    width: 95%;
    border-radius: 5px;
    background-color: darkorange;
    font-size: 1rem;
    color: white;
    margin: 0 auto;
    display: none;
}

.section-container-mypage td:hover .create_diary_item {
    display: block;
}

.section-container-mypage td:hover .update_diary_item {
    display: block;
}

.section-container-mypage td:hover .diary_item {
    display: none;
}