* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* nav */
nav {
    background-color: lightslategrey;;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2% 0 2%;
}

.logo-box, .hello-box, .logout-box {
    display: inline-block;
    padding: 1%;
}

.logo-box {
    background-color: steelblue;
}

.logo {
    font-weight: 600;

}

.hello-box {
    display: flex;
    align-items: center;
    width: 60%;
    background-color: lavender;
}

.hello {
    text-align: right;
}

.logout-box {
    display: flex;
    align-items: center;
    height: 70%;
    border-radius: 50px;
    background-color: darkseagreen;
}

.logout {
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}


/* aside */
.main-container {
    display: flex;
}

aside, section {
    display: inline-block;
}

aside {
    background-color: slategray;
    margin-top: 2%;
}

.aside-container {
    /*position: relative;*/
    background-color: lightsteelblue;
    width: 80%;
    padding: 2%;
    margin: auto;
}

.aside-wrapper {
    display: block;
}

.user-main-box {
    background-color: steelblue;
    margin: 20% 0 30% 0;
}

.user-info-title {
    display: inline-block;
    margin-bottom: 5%;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: lavender;
}

.user-lunch {
    padding: 6%;
    background-color: steelblue;
}


/* section */
section {
    display: flex;
    background-color: lightsteelblue;
}

.section-container {
    margin: auto;
}

.section-wrapper {
    background-color: darkseagreen;
}

/* calendar */
table {
    text-align: center;
    width: 1000px;
}

td {
    width: 100px;
    height: 50px;
}

.modal_title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

.modal_title h3 {
    display: inline;
}

.modal_close {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

.main_content {
    width: 95%;
    height: 45%;
    font-size: 24px;
    margin: 10px auto;
}

.modal_btn_box {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_btn_box > .btn {
    width: 130px;
    margin: 10px;
}

.diary_item{
    background-color:cyan;
}

/* rating */

.star-rating {
    /*border:solid 1px #ccc;*/
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    justify-content: space-around;
    padding: 0 .2em;
    text-align: center;
    width: 5em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
}

.star-rating :checked ~ label {
    color: #fc0;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f90;
}

.diary_item {
    background-color: cyan;
}