* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, orange, yellow) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* aside */
.main-container {
    display: flex;
}

aside, section {
    display: inline-block;
}

aside {
    /*background-color: slategray;*/
    margin: 2% 0 0 4%;
}

.aside-container {
    /*background-color: lightsteelblue;*/
    width: 100%;
    padding: 2%;
    margin: auto;
}

.aside-wrapper {
    display: block;
}

.user-main-box {
    /*background-color: steelblue;*/
    margin: 20% 0 30% 0;
}

.user-info-title {
    display: inline-block;
    margin-bottom: 5%;
    font-size: 1.2rem;
    font-weight: 600;
    /*background-color: lavender;*/
}

hr {
    border: 0;
    height: 2px;
    color: black;
}

.user-lunch {
    padding: 6%;
    /*background-color: steelblue;*/
}


/* section */
section {
    display: flex;
    margin: 3% 0 0 5%;
    /*background-color: lightsteelblue;*/
}

.section-container {
    width: 100%;
    margin: auto;
}

.section-wrapper {
    /*background-color: darkseagreen;*/
}

/* calendar */

.modal_title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

.modal_title h3 {
    display: inline;
}

.modal_close {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

.main_content {
    width: 95%;
    height: 45%;
    font-size: 24px;
    margin: 10px auto;
}

.modal_btn_box {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_btn_box > .btn {
    width: 130px;
    margin: 10px;
}


table {
    text-align: center;
    width: 1000px;
}

td {
    width: 100px;
    height: 50px;
}

.diary_item {
    background-color: cyan;
}