* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, orange, yellow) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.main-container-mypage {
    display: flex;
}

/* aside -> main.css */

/* section */
.main-container-mypage section {
    width: 70%;
    height: 650px;
    margin: 3% 0 0 5%;
}

.section-container-mypage {
    width: 100%;
}

.section-wrapper-mypage {
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

/* calendar */

table {
    width: 100%;
    height: 100%;
    text-align: center;
}

thead {
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

thead p {
    margin: 1%;
}

thead button {
    width: 25px;
    border: 0;
    border-radius: 5px;
    background-color: #2b2a29;
    color: white;
}

.section-container-mypage td {
    border-top: 1px solid #444444;
    padding: 5px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}

.diary_item {
    width: 95%;
    height: 80%;
    border-radius: 5px;
    background-color: #4285F4;
    font-size: 14px;
    color: white;
    margin: 0 auto;
    display: block;
    transition: .5s;
}

.update_diary_item {
    width: 95%;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.9);
    font-size: 14px;
    color: white;
    margin: 0 auto;
    display: none;
}

.create_diary_item {
    width: 95%;
    border-radius: 5px;
    background-color: rgba(128, 128, 0, 0.9);
    font-size: 14px;
    color: white;
    margin: 0 auto;
    display: none;
}

.section-container-mypage td:hover .create_diary_item {
    display: block;
}

.section-container-mypage td:hover .update_diary_item {
    display: block;
}

.section-container-mypage td:hover .diary_item {
    display: none;
}