* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, orange, yellow) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* aside */
.main-container {
    display: flex;
}

aside {
    display: inline-block;
}

aside {
    /*background-color: slategray;*/
    margin: 2% 0 0 4%;
}

.aside-container {
    /*background-color: lightsteelblue;*/
    width: 100%;
    padding: 2%;
    margin: auto;
}

.aside-wrapper {
    display: block;
}

.user-main-box {
    /*background-color: steelblue;*/
    margin: 20% 0 30% 0;
}

.user-info-title {
    display: inline-block;
    margin-bottom: 5%;
    font-size: 1.2rem;
    font-weight: 600;
    /*background-color: lavender;*/
}

hr {
    border: 0;
    height: 2px;
    color: black;
}

.user-lunch {
    padding: 6%;
    /*background-color: steelblue;*/
}


/* section */
section {
    width: 70%;
    height: 650px;
    margin: 3% 0 0 5%;
}

.section-container {
    width: 100%;
}

.section-wrapper {
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

/* calendar */

table {
    width: 100%;
    height: 100%;
    text-align: center;
}

thead {
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

thead p {
    margin: 1%;
}

thead button {
    border: 0;
    border-radius: 5px;
    background-color: #2b2a29;
    color: white;
}

.section-container td {
    border-top: 1px solid #444444;
    padding: 5px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}

.diary_item {
    width: 95%;
    height: 80%;
    border-radius: 5px;
    background-color: #4285F4;
    font-size: 14px;
    color: white;
    margin: 0 auto;
}

.create_diary_item {
    width: 80%;
    border-radius: 5px;
    background-color: olive;
    font-size: 14px;
    color: white;
    margin: 0 auto;
}