/* nav */
.nav-wrapper {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logo-box {
    display: inline-block;
    padding: 1%;
}

.logo {
    color: black;
    font-weight: 600;
}

.nav-user-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 1%;
    font-size: 1.2rem;
    /*color: black;*/
}

.hello-box, .mypage-box, .scoring-box {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 30%;*/
    /*margin: auto;*/
}

.hello {
    text-align: right;
    font-weight: 500;
    color: black;
}

.mypage-a, .scoring-a {
    text-decoration: none;
    color: black;
}

.scoring-a:hover, .mypage-a:hover {
    padding: 6px 8px;
    font-weight: 600;
    color: coral;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.6);
}

.logout-box {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    padding: 6px 8px;
    width: 17%;
    height: 70%;
    border-radius: 30px;
    background-color: whitesmoke;
    text-align: center;
}

.logout {
    color: coral;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}