/* nav */
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2% 0 2%;
}

.logo-box, .hello-box, .logout-box, .mypage-box {
    display: inline-block;
    padding: 1%;
}

.logo {
    color: whitesmoke;
    font-weight: 600;

}

.nav-user-box {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.hello-box, .mypage-box, .scoring-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
    font-size: 1.2rem;
}

.hello {
    text-align: right;
    font-weight: 500;
    color: whitesmoke;
}

.mypage-a, .scoring-a {
    text-decoration: none;
    color: whitesmoke;
}

.scoring-a:hover, .mypage-a:hover {
    padding: 6px 8px;
    font-weight: 600;
    color: coral;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.6);
}

.logout-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    height: 70%;
    border-radius: 50px;
    background-color: whitesmoke;
}

.logout {
    color: coral;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}