<!-- Modal -->
<div id="create_modal" class="modal_overlay">
    <div class="modal_window">
        <div class="modal_title">
            <h3>등록</h3>
        </div>
        <div class="modal_close">X</div>
        <hr>
        <div class="main_content">
            <p><label class="modal_label">날짜: </label> <span class="date_label">date</span></p>
            <p><label class="modal_label">상호명: </label> <input type="search" src=""></p>
            <p><label class="modal_label">별점: </label> <input type="text"></p>
        </div>
        <hr>
        <div class="modal_btn_box">
            <button type="button" class="btn btn-success btn-lg" onclick="window.location.href='#'">등록
            </button>
        </div>
    </div>
</div>