<!-- Modal -->
<div id="create_modal" class="modal_overlay">
    <div class="modal_window">
        <div class="modal_title">
            <h3>등록</h3>
        </div>
        <div class="modal_close">X</div>
        <hr>
        <div class="main_content">
            <p><label class="modal_label">날짜: </label> <span id="date_value">date</span></p>
            <p><label class="modal_label">상호명: </label> 
                <input type="text" list="list" id="search_value"/>
                <datalist id ="list">
                    {% for item in resturant_name_list %}
                    <option value= '{{item}}' />
                    {% endfor %}
                </datalist>
            <p><label class="modal_label">별점: </label> <input id="score_value" type="text"></p>
        </div>
        <hr>
        <div class="modal_btn_box">
            <button type="button" class="btn btn-success btn-lg" onclick="diary_register()">등록</button>
        </div>
    </div>
</div>