{% extends 'base.html' %}
{% block title %}점심일지 | {% endblock %}
{% block content %}
    <body>
    {% include 'nav/nav.html' %}
    {% include 'mypage/create_modal.html' %}
    {% include 'mypage/update_modal.html' %}

    <div class="main-container-mypage ">
        <aside>
            <div class="aside-container">
                <div class="aside-wrapper">
                    <div class="user-main-box">
                        <div class="user-main">
                            <span class="user-info-title">{{ user.fullname }} 님</span>
                            <hr/>
                            <p class="user-address">주소<br><b>{{ user.address }}</b></p>
                        </div>
                    </div>
                    <div class="user-lunch-box">
                        <div class="user-lunch">
                        <span class="user-info-title">😊오늘의 추천
                        <p>어제 가장 높은 평점을 받은 가게에요!</p></span>
                            <div class="card" style="width: 100%">
                                {% if today_reco_result == 'success' %}
                                    <img src="/{{ today_res.restaurant_image }}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ today_res.restaurant_name }}</h5>
                                        <p class="card-text">{{ today_res.restaurant_category }}</p>
                                        <a href="https://map.naver.com/v5/search/{{ today_res.restaurant_name }}"
                                           class="btn btn-primary" target='_blank'>상세보기</a>
                                    </div>
                                {% else %}
                                    <div class="card-body"> {{ today_res }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <section>
            <div class="section-container-mypage">
                <div class="section-wrapper-mypage ">
                    <table class='custom_calendar_table'>
                        <thead class='cal_date'>
                        <tr>
                            <th>
                                <button type='button' class='prev' onclick="prev_month({{ year }}, {{ month }})"><
                                </button>
                            </th>
                            <th colspan='5'><p><span id='now_year'> {{ year }} </span> 년 <span
                                    id='now_month'> {{ month }} </span> 월 </p></th>
                            <th>
                                <button type='button' class='next' onclick="next_month({{ year }}, {{ month }})">>
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <thead class='cal_week'>
                        <th>일</th>
                        <th>월</th>
                        <th>화</th>
                        <th>수</th>
                        <th>목</th>
                        <th>금</th>
                        <th>토</th>
                        </thead>
                        <tbody id='custom_set_date'>
                        {% for weeks in calendar %} <!-- calendar : Double Length of length 5x7 -->
                            <!-- weeks : 한 주 -->
                            <tr>
                                {% for days in weeks %}
                                    <!-- days : {
                                         'day': 1,
                                         'is_date': True,
                                         'id': 3, diary_id
                                         'date': 2022-06-17
                                         'weekday': '월'
                                         'is_diary': False,
                                         'restaurant_score': None,
                                         'restaurant_id': 17,
                                         'restaurant_name': None
                                        } -->
                                    <!-- 달력 중 빈 공간 -->
                                    {% if days.is_date == False %}
                                        <td></td>
                                    {% else %} <!-- 달력 중 날짜 -->
                                        <!-- diary 가 있을 때 => 수정 모달 -->
                                        {% if days.is_diary == True %}
                                            <td id="modal_open_{{ days.day }}"
                                                onclick="update_modalOn('{{ days.date }}', '{{ days.weekday }}', '{{ days.restaurant_name }}', '{{ days.restaurant_score }}')"
                                                style="cursor: pointer">
                                                {{ days.day }}
                                                <div class="diary_item">
                                                    {{ days.restaurant_name }}<br>
                                                    ★ {{ days.restaurant_score }}
                                                </div>
                                                <div class="update_diary_item">
                                                    수정/삭제
                                                </div>
                                            </td>
                                            <!-- diary가 없을 때 => 등록 모달 -->
                                        {% else %}
                                            <td id="modal_open_{{ days.day }}"
                                                onclick="create_modalOn('{{ days.date }}', '{{ days.weekday }}')"
                                                style="cursor: pointer">
                                                {{ days.day }}
                                                <div class="create_diary_item">
                                                    등록
                                                </div>
                                            </td>
                                        {% endif %} <!-- is_diary -->
                                    {% endif %} <!-- is_date -->
                                {% endfor %} <!-- days -->
                            </tr>
                        {% endfor %} <!-- weeks -->
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div> <!-- main-container -->
    </body>
    <script type="text/javascript">
        // Modal Func
        const create_modal = document.getElementById("create_modal")
        const update_modal = document.getElementById("update_modal")

        // modal on
        function create_modalOn(date, weekday) {
            create_modal.style.display = "flex"
            document.getElementById('date_value').innerText = date + ' (' + weekday + ')';
        }

        function update_modalOn(date, weekday, restaurant_name, restaurant_score) {
            update_modal.style.display = "flex"
            document.getElementById('date_value1').innerText = date + ' (' + weekday + ')';
            document.getElementById("search_value1").value = restaurant_name;
            document.getElementById(restaurant_score + '-ustar').checked = true; // radio button checked
        }

        // modal off
        const closeBtn = create_modal.querySelector(".modal_close")
        closeBtn.addEventListener("click", e => {
            create_modal.style.display = "none"
        })

        const closeBtn2 = update_modal.querySelector(".modal_close")
        closeBtn2.addEventListener("click", e => {
            update_modal.style.display = "none"
        })

        create_modal.addEventListener("click", e => {
            const evTarget = e.target
            if (evTarget.classList.contains("modal_overlay")) {
                create_modal.style.display = "none"
            }
        })

        update_modal.addEventListener("click", e => {
            const evTarget = e.target
            if (evTarget.classList.contains("modal_overlay")) {
                update_modal.style.display = "none"
            }
        })
    </script>
    <script>
        // 달력 이동 - 다음달
        function prev_month(year, month) {
            month = month - 1
            if (month == 0) {
                month = 12
                year = year - 1
            }
            window.location.href = '/mypage/' + year + '/' + month
        }

        // 달력 이동 - 이전달
        function next_month(year, month) {
            month = month + 1
            if (month == 13) {
                month = 1
                year = year + 1
            }
            window.location.href = '/mypage/' + year + '/' + month
        }

        function diary_register() {
            date_weekday_value = document.getElementById('date_value').innerText
            date_value = date_weekday_value.split(' ')
            search_value = document.getElementById('search_value').value
            // score_value = document.getElementById('score_value').value
            score_value = $('input:radio[name=score_value]:checked').val(); //1~5
            var csrftoken = document.querySelector("meta[name=csrf_token]").content
            $.ajax({ // 비동기 방식
                type: "POST",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                url: "/mypage/diary/create/",
                data: JSON.stringify(
                    {
                        'date_val': date_value[0],
                        'weekday_val': date_value[1],
                        'search_val': search_value,
                        'score_val': score_value
                    }),
                headers: {"X-CSRFToken": csrftoken},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

        function diary_update() {
            date_weekday_value = document.getElementById('date_value1').innerText
            date_value = date_weekday_value.split(' ')
            search_value = document.getElementById('search_value1').value
            score_value = document.querySelector('input[name=score_value1]:checked').value

            var csrftoken = document.querySelector("meta[name=csrf_token]").content
            $.ajax({ // 비동기 방식
                type: "PATCH",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                url: "/mypage/diary/update/",
                data: JSON.stringify(
                    {
                        'date_val': date_value[0],
                        'weekday_val': date_value[1],
                        'search_val': search_value,
                        'score_val': score_value
                    }),
                headers: {"X-CSRFToken": csrftoken},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

        function diary_delete() {
            date_weekday_value = document.getElementById('date_value1').innerText
            date_value = date_weekday_value.split(' ')
            search_value = document.getElementById('search_value1').value

            var csrftoken = document.querySelector("meta[name=csrf_token]").content
            $.ajax({ // 비동기 방식
                type: "DELETE",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                url: "/mypage/diary/delete/",
                data: JSON.stringify(
                    {
                        'date_val': date_value[0],
                        'weekday_val': date_value[1],
                        'search_val': search_value,
                    }),
                headers: {"X-CSRFToken": csrftoken},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }
    </script>
{% endblock %}