<!-- Modal -->
<div id="update_modal" class="modal_overlay">
    <div class="modal_window">
        <div class="modal_title">
            <h3>수정, 삭제</h3>
        </div>
        <div class="modal_close">X</div>
        <hr>
        <div class="main_content">
            <p><label class="modal_label">날짜: </label> <span id="date_value1">date</span></p>
            <p><label class="modal_label">상호명: </label>
                <input type="text" list="list" id="search_value1">
                <datalist id="list" class='data_list_option'>
                    {% for item in resturant_name_list %}
                        <option value='{{ item }}'></option>
                    {% endfor %}
                </datalist>
            </p>

            <div style="display:flex; flex-direction:row; align-items:center;">
                <label class="modal_label">별점:</label>
                <div class="ustar-rating">
                    <input type="radio" id="5-ustar" name="score_value1" value="5"/><label for="5-ustar" class="star">★</label>
                    <input type="radio" id="4-ustar" name="score_value1" value="4"/><label for="4-ustar" class="star">★</label>
                    <input type="radio" id="3-ustar" name="score_value1" value="3"/><label for="3-ustar" class="star">★</label>
                    <input type="radio" id="2-ustar" name="score_value1" value="2"/><label for="2-ustar" class="star">★</label>
                    <input type="radio" id="1-ustar" name="score_value1" value="1"/><label for="1-ustar" class="star">★</label>
                </div>
            </div>
        </div>
        <hr>
        <div class="modal_btn_box">
            <button type="button" class="btn btn-success btn-lg" onclick="diary_update()">수정</button>
            <button type="button" class="btn btn-danger btn-lg" onclick="diary_delete()">삭제</button>
        </div>
    </div>
</div>