<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/join_login.css' %}" type="text/css">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>

        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    </head>
    <body>
    {% include 'users/message.html' %}
    <div class="container">
        <div class="wrapper">
            <p class="title_center"> 로 그 인</p>
            <form class="form-area" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div>
                    <label for="user_email">아이디</label>
                    <input type="email" class="form-control" id="user_email" name="user_email">
                </div>
                <div>
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class='btn_boxes'>
                    <button type="submit" class="btn btn-primary" >로그인</button>
                </div>
                <div class = "a_boxes">
                    <a href = '{% url 'join' %}'>회원가입 페이지로</a>
                </div>
            </form>
        </div>
    </div>
    </body>
</html>
