<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

    </head>
    <body>
    <div class="container">
        <div class="wrap">
            <h2 class="title-center"> 로그인</h2>
            <form class="form-area" action="/signin/" method="post">
                {% csrf_token %}
                <div>
                    <label for="username">이름</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div>
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div>
                    <button type="submit">로그인</button>
                    <a href="/sign-up">회원가입 페이지로</a>
                </div>
            </form>
        </div>
    </div>
    </body>
</html>
